.message {
    height: 200px;
    width: 20em;
    overflow: scroll;
    overflow-x: hidden;
}

.edit {
   border: none;
   background-color: transparent;
   outline: none;
}
.delete {
    border: none;
    background-color: transparent;
    outline: none;
 }